html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.begin-bar {
  background-color: #071c1f;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px calc(100vw - 87%);

  ul {
    list-style-type: none;
    display: flex;
  }

  .left-bar {
    margin-right: auto;

    li {
      margin-right: 40px;

      i {
        color: #ff5a3c;
        margin-right: 5px;
      }
    }
  }

  .right-bar {
    margin-left: auto;

    li {
      margin-left: 15px;
      .fa-twitter {
        color: #ff5a3c;
      }
    }
  }
}

.tab-bar {
  background-color: #fdfdfd;
  color: #071c1f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px calc(100vw - 88%) 35px calc(100vw - 90%);

  ul {
    list-style-type: none;
    display: flex;
  }

  .left-tab {
    margin-right: auto;

    .logo {
      height: 80px;
      width: 240px;
    }
  }

  .right-tab {
    margin-left: auto;

    li {
      padding: 15px 30px;
      border-radius: 10px;
      span {
        font-family: "Poppins", sans-serif;
        font-size: larger;
        font-weight: 600;
        font-style: normal;
      }
    }

    li:nth-child(1) {
      color: #ff5a3c;
      span {
        text-decoration: underline;
      }
    }

    li:nth-child(8) {
      background-color: #ff5a3c;
      color: #fdfdfd;
      span {
        text-decoration: none;
      }
    }
  }
}

.intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f6f7;
  height: 849px;
  padding-left: calc(100vw - 89%);
  padding-right: calc(100vw - 90%);

  .left-intro-container {
    position: relative;
    .intro-word {
      margin-top: 130px;
      .intro-word-1 {
        display: flex;
        width: 600px;
        height: 222px;
        font-family: "Poppins", sans-serif;
        font-size: 64px;
        font-weight: 700;
        font-style: normal;
      }
    
      .intro-word-2 {
        padding-top: 15px;
        font-family: "Nunito", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-size: 18px;
        width: 443px;
        height: 56px;
        font-style: normal;
        color: #9eabb2;
      }
    
      .member-button {
        margin-top: 15px;
        margin-bottom: 25px;
        font-family: "Nunito", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        color: #ffffff;
        background-color: #ff5a3c;
        border-radius: 10px;
        padding: 18px 36px;
        border: none;
      }
    }
  
    .ranking {
      margin-top: 150px;
      display: flex;
      list-style-type: none;
      width: 290px;
      font-family: "Poppins", sans-serif;
      font-size: 10px;
      font-weight: 500;
      font-style: normal;
      color: #ffffff;
  
      ul {
        list-style-type: none;
        display: flex;
        align-items: flex-end;
        padding: 0;
        margin: 0;
      }
  
      li:nth-child(1) {
        padding: 4px 8px;
        width: 114px;
        height: 80px;
        background-color: #9d9d9d;
      }
  
      li:nth-child(2) {
        padding: 4px 8px;
        width: 88px;
        height: 60px;
        background-color: #9d9d9d;
      }
  
      li:nth-child(3) {
        padding: 4px 8px;
        width: 88px;
        height: 60px;
        background-color: #9d9d9d;
      }
    }
  
    .ranking-bar-1 {
      position: relative;
      left: 300px;
      top: -24px;
      width: 23px;
      border: 1px solid #071c1f;
    }
  
    .ranking-bar-2 {
      position: relative;
      left: 323px;
      top: -26px;
      width: 63px;
      border: 1px solid #ebebeb;
    }
  
    .ranking-number {
      position: relative;
      left: 388px;
      top: -48px;
      font-family: "Poppins", sans-serif;
      font-size: 10px;
      font-weight: 500;
      color: #627193;
  
      span {
        margin-left: 10px;
      }
  
      span:nth-child(1) {
        font-size: 20px;
        color: #071c1f;
      }
    }

    .arrow {
      position: absolute;
      top: 282px;
      right: -25px;
      z-index: 100;
      width: 230px;
      height: 128px;
    }
  }

  .bg-video-guide {
    z-index: 90;
    background-color: #c4c4c4;
    width: 867px;
    height: 703px;
    position: relative;
    top: -80px;

    .revenue {
      z-index: 91;
      height: 190px;
      width: 240px;
      background-color: #ffffff;
      border-radius: 20px;
      padding: 25px;
      position: absolute;
      bottom: -40px;
      left: -50px;
  
      .revenue-img {
        width: 50px;
        height: 50px;
      }
  
      .money {
        margin-top: 25px;
        margin-bottom: -8px;
        font-family: "Poppins", sans-serif;
        font-optical-sizing: auto;
        font-size: 26px;
        font-weight: 600;
        color: #071c1f;
      }
  
      .revenue-word {
        font-family: "Poppins", sans-serif;
        font-optical-sizing: auto;
        font-size: 16px;
        font-weight: 500;
        color: #9eabb2;
      }
    }

    .video-guide {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px 0 0 0;
      font-family: "Poppins", sans-serif;
      font-size: 14px;
      font-weight: 500;
      height: 74px;
      width: 198px;
      color: #fcfcfd;
      background-color: #ff5a3c;
      position: absolute;
      bottom: 0;
      right: 0;

      span {
        margin-right: 30px;
        color: #ffffff;
      }

      i {
        font-size: 2.7rem;
      }
    }
  }
}

.rental-container {
  display: block;
  justify-items: center;
  align-content: center;
  
  .rental-title {
    margin-top: 130px;
    margin-bottom: 70px;
    display: block;
    justify-items: center;
    align-content: center;
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 46px;
    color: #071C1F;
    text-transform: capitalize;
    width: 567px;
    height: 182px;

    p:nth-child(1) {
      width: 567px;
      height: 112px;
      margin: 0;
      margin-bottom: 20px;
    }

    p:nth-child(2) {
      margin: 0;
      display: block;
      justify-items: center;
      align-content: center;
      font-weight: 400;
      font-size: 18px;
      color: #9EABB2;
      width: 425px;
      height: 60px;
    }
  }

  .rental-guide {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style-type: none;

      li {
        display: block;
        justify-items: center;
        align-content: center;
        margin-left: 45px;
        height: 340px;
        width: 360px;
        border-radius: 20px;
  
        img {
          width: 180px;
          height: 180px;
          padding: 0;
          margin-top: -20px;
        }
  
        p:nth-child(2) {
          font-family: "Nunito", sans-serif;
          font-optical-sizing: auto;
          font-weight: 700;
          font-size: 26px;
          margin: 0;
          margin-top: -30px;
        }

        p:nth-child(3) {
          font-family: "Nunito", sans-serif;
          font-optical-sizing: auto;
          font-weight: 400;
          font-size: 18px;
          margin: 0;
          width: 280px;
          text-align: center;
          margin-top: 20px;
          line-height: 2;
          color: #899AA2;
        }
      }
  
      li:nth-child(1), li:nth-child(3) {
        box-shadow: 0px 0px 80px 0px #CBCCBC40;
        background-color: #ffffff;
      }
  
      li:nth-child(2) {
        p:nth-child(2), p:nth-child(3) {
          color: #ffffff;
        }

        background-color: #ff5a3c;
      }
    }
  }
}

.setting-container {
  padding: 200px calc(100vw - 80%);

  .setting-content {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;

    li {
      width: 100%;
      position: relative; 
      
      .bg-setting-2 {
        position: absolute;
        z-index: 80;
        height: 528px;
        width: 342px;
        background-color: #C4C4C4;
        left: 0;
        bottom: 0;
      }

      .bg-setting-1 {
        position: absolute;
        z-index: 81;
        height: 561px;
        width: 366px;
        background-color: #C4C4C4;
        right: 0;
        top: 0;

        .star {
          position: absolute;
          right: -50px;
          top: -10px;
        }
      }

      .setting-content-child {
        margin-top: -91px;
        margin-left: 130px;
        width: 100%;

        .setting-title-1 {
          font-family: "Nunito", sans-serif;
          font-optical-sizing: auto;
          font-size: 46px;
          font-weight: 700;
          color: #071C1F;
          width: 100%;
        }
  
        .setting-title-2 {
          font-family: "Nunito", sans-serif;
          font-optical-sizing: auto;
          font-size: 16px;
          font-weight: 400;
          color: #899AA2;
        }
  
        .section {
          display: flex;
          align-items: center;
          margin-bottom: 30px;
          padding: 20px;
          width: 80%;
  
          .section-child {
            p:nth-child(1) {
              font-family: "Nunito", sans-serif;
              font-optical-sizing: auto;
              font-size: 24px;
              font-weight: 700;
              color: #071C1F;
              margin: 0;
              margin-bottom: 10px;
            }
            p:nth-child(2) {
              font-family: "Nunito", sans-serif;
              font-optical-sizing: auto;
              font-size: 16px;
              font-weight: 400;
              color: #899AA2;
              margin: 0;
            }
          }
  
        }
      }

      
    }


  }
}

.sell-container {
  margin: -80px;
  padding: 0 calc(100vw - 78.5%);

  ul {
    list-style-type: none;
    display: flex;
    list-style-type: none;
  }

  li {
    .title-sell {
      font-family: "Nunito", sans-serif;
      font-optical-sizing: auto;
      font-weight: 600;
      font-size: 18px;
      margin-left: 5px;
      margin-left: 25px;
      margin-top: -25px;
      color: #071C1F;
    }

    .big-tittle {
      font-family: "Nunito", sans-serif;
      font-optical-sizing: auto;
      font-weight: 700;
      font-size: 48px;
      color: #071C1F;
      margin: 0;
    }

    .comment-title {
      font-family: "Nunito", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-size: 16px;
      color: #899AA2;
      width: 80%;
    }

    .sell-section-1 {
      margin-top: 30px;
      i {
        color: #ff5a3c;
        margin-right: 12px;
      }

      span {
        font-family: "Nunito", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-size: 16px;
        color: #899AA2;
      }
    }

    .sell-section-2 {
      .ranking {
        margin-top: 70px;
        display: flex;
        list-style-type: none;
        width: 290px;
        font-family: "Poppins", sans-serif;
        font-size: 10px;
        font-weight: 500;
        font-style: normal;
        color: #ffffff;
    
        ul {
          list-style-type: none;
          display: flex;
          align-items: flex-end;
          padding: 0;
          margin: 0;
        }
    
        li:nth-child(1) {
          padding: 4px 8px;
          width: 114px;
          height: 80px;
          background-color: #9d9d9d;
        }
    
        li:nth-child(2) {
          padding: 4px 8px;
          width: 88px;
          height: 60px;
          background-color: #9d9d9d;
        }
    
        li:nth-child(3) {
          padding: 4px 8px;
          width: 88px;
          height: 60px;
          background-color: #9d9d9d;
        }
      }
    
      .ranking-bar-1 {
        position: relative;
        left: 300px;
        top: -24px;
        width: 23px;
        border: 1px solid #ff5a3c;
      }
    
      .ranking-bar-2 {
        position: relative;
        left: 323px;
        top: -26px;
        width: 63px;
        border: 1px solid #B2BBBF;
      }
    
      .ranking-number {
        position: relative;
        left: 388px;
        top: -48px;
        font-family: "Poppins", sans-serif;
        font-size: 10px;
        font-weight: 500;
        color: #627193;
    
        span {
          margin-left: 10px;
        }
    
        span:nth-child(1) {
          font-size: 20px;
          color: #071c1f;
        }
      }
    }

    .grid-container {
      display: grid;
      grid-template-columns: 310px 257px;
      gap: 20px; 
      height: 560px; 
    }
  
    .large-box {
      grid-row: span 2; 
      background-color: #C4C4C4;
    }
  
    .small-box {
      background-color: #C4C4C4;
    }
    
  }
}

.subcribe-container {
  display: block;
  justify-items: center;
  align-content: center;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  height: 650px;

  .title-subcribe {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    align-items: center;
    font-weight: 700;
    font-size: 46px;
    font-style: normal;
    color: #071c1f;
  }

  .location {
    padding: 0 calc(100vw - 78%);

    ul {
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    li {
      display: inline-block;
      align-content: center;
      justify-items: center;
      margin-left: 30px;
      height: 170px;
      width: 330px;
      background-color: #898989;
      color: #ffffff;
      border-radius: 10px;
      font-weight: 700;
      font-size: 20px;

      button {
        margin-top: 30px;
        margin-bottom: 15px;
        display: block;
        color: #ff5a3c;
        padding: 18px 30px;
        font-weight: 600;
        font-size: 16px;
        border-radius: 10px;
        border: none;
      }
    }
  }

  .enter-mail {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 610px;
    background-color: #f5f5f5;
    padding: 30px;
    margin-top: 70px;
    border-radius: 20px;

    .envelope {
      width: 24px;
      height: 24px;
    }

    input {
      font-family: "Poppins", sans-serif;
      font-size: 18px;
      font-weight: 500;
      font-style: normal;
      border: none;
      color: #8c8c8c;
      background-color: #f5f5f5;
      opacity: 50%;
      margin-left: 12px;
    }

    button {
      margin-left: auto;
      margin-right: -15px;
      font-family: "Poppins", sans-serif;
      font-size: 20px;
      font-weight: 600;
      color: #ffffff;
      background-color: #ff5a3c;
      border: none;
      border-radius: 10px;
      height: 56px;
      width: 152px;
    }
  }
}

.blog-container {
  display: block;
  align-content: center;
  justify-items: center;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;

  .title-blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 46px;
    font-style: normal;
    color: #071c1f;
  }

  .title-blog-child {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    color: #8c8c8c;
  }

  .card-blog {
    height: 504px;
    width: 1170px;

    ul {
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    li {
      margin-right: 40px;

      .image-blog {
        height: 242px;
        width: 368px;
        background-color: #c4c4c4;
      }

      .blog-content {
        padding: 10px 10px 10px 20px;
        .blog-word-1 {
          font-weight: 600;
          font-size: 18px;
        }

        .blog-word-2 {
          margin-left: 5px;
          color: #ff5a3c;
        }

        .blog-word-3 {
          font-weight: 400;
          font-size: 16px;
          color: #8c8c8c;
        }

        .user-blog-1 {
          display: inline;

          .blog-word-4 {
            font-weight: 400;
            font-size: 16px;
            color: #8c8c8c;
            margin-left: 2px;
          }
        }

        .user-blog-2 {
          display: inline;
          margin-left: 25px;

          .blog-word-5 {
            font-weight: 400;
            font-size: 16px;
            color: #8c8c8c;
            margin-left: 2px;

            .user {
              color: #ff5a3c;
            }
          }
        }
      }
    }
  }

  .real-btn {
    margin-top: 20px;
    color: #ff5a3c;
    border: 1px solid #ff5a3c;
    background-color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    font-style: normal;
    padding: 20px 50px;
  }
}

.form-container {
  display: block;
  align-content: center;
  justify-items: center;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;

  .title-form {
    margin-top: 100px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 24px;
    font-style: normal;
    color: #ff5a3c;
  }

  .title-form-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
    align-items: center;
    font-weight: 700;
    font-size: 48px;
    font-style: normal;
    color: #1f242e;
  }

  ul {
    list-style-type: none;
    display: flex;
    padding: 0;

    li {
      .form-left {
        margin-right: 110px;
        .form-word-1 {
          font-weight: 400;
          font-size: 18px;
          font-style: normal;
          color: #8c8c8c;
          margin-bottom: 40px;
        }

        .form-word-2 {
          i {
            color: #ff5a3c;
          }
          font-weight: 600;
          font-size: 16px;
          font-style: normal;
          color: #242424;
        }

        .form-block-1 {
          height: 203px;
          width: 277px;
          border-radius: 10px;
          background-color: #c4c4c4;
          z-index: 100;
          margin-top: 60px;
        }

        .form-block-2 {
          height: 237px;
          width: 432px;
          border-radius: 10px;
          background-color: #c4c4c4;
          z-index: 99;
          margin-top: -135px;
          margin-left: 135px;
        }

        .form-block-3 {
          height: 70px;
          width: 73px;
          border-radius: 10px;
          background-color: #ff5a3c;
          z-index: 98;
          margin-top: -336px;
          margin-left: 315px;
        }

        .form-block-4 {
          height: 33px;
          width: 33px;
          border-radius: 10px;
          background-color: #242424;
          z-index: 97;
          margin-top: -80px;
          margin-left: 375px;
        }
      }

      .form-right {
        background-color: #f2f6f7;
        width: 497px;
        height: 648px;
        padding: 30px 40px;
        border-radius: 10px;

        .form-right-word-1 {
          font-weight: 700;
          font-size: 48px;
          font-style: normal;
          color: #242424;
          margin: 0;
          margin-bottom: 35px;
        }

        .form-right-word-2 {
          font-weight: 400;
          font-size: 16px;
          font-style: normal;
          color: #666666;
        }

        .form-right-input-1 {
          border: none;
          font-weight: 400;
          font-size: 16px;
          font-style: normal;
          color: #999999;
          width: 100%;
          height: 55px;
          padding-left: 20px;
          margin-bottom: 10px;
        }

        .form-right-input-2 {
          border: none;
          font-weight: 400;
          font-size: 16px;
          font-style: normal;
          color: #999999;
          width: 100%;
          height: 120px;
          padding-left: 20px;
          margin-bottom: 33px;
        }

        .send-btn {
          display: block;
          font-weight: 600;
          font-size: 14px;
          font-style: normal;
          color: #ffffff;
          background-color: #ff5a3c;
          border: none;
          border-radius: 10px;
          padding: 20px 50px;
        }
      }
    }
  }
}

.service-container {
  margin-top: 200px;
  background-color: #F2F6F7;
  height: 1120px;
  display: block;
  justify-items: center;
  align-items: center;
  padding-top: 100px;

  .service-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 700;
    font-style: normal;
    margin: 0;
  }

  .service-comment {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 27%;
    margin-bottom: 60px;
  }

  .grid-container-2 {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    gap: 30px;
  }

  .box {
    border-radius: 12px;
    background-color: #FFFFFF;
    height: 355px;
    display: block;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: 50px 8px;

    p:nth-child(2) {
      font-family: "Nunito", sans-serif;
      font-optical-sizing: auto;
      font-size: 26px;
      font-weight: 600;
      color: #071C1F;
    }

    p:nth-child(3) {
      font-family: "Nunito", sans-serif;
      font-optical-sizing: auto;
      color: #8C8C8C;
      font-size: 16px;
      font-weight: 400;
      width: 80%;
      padding-bottom: 20px;
    }

    span {
      font-family: "Poppins", sans-serif;
      font-optical-sizing: auto;
      color: #071C1F;
      font-size: 16px;
      font-weight: 400;
      margin-right: 10px;
    }
  }
}

footer {
  background-color: #171b2a;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;

    li {
      margin-right: 30px;

      .first-column {
        display: grid;
        list-style-type: none;
        margin-top: 50px;
        li {
          .logo-footer {
            height: 46px;
            width: 180px;
          }

          p {
            display: flex;
            font-size: 18px;
            font-weight: 600;
            color: #c4c4c4;
            width: 234px;
            height: 102px;
          }

          i {
            color: #ff5a3c;
            border: 1px solid #ff5a3c;
            border-radius: 5px;
            font-size: 1rem;
            padding: 15px;
            margin-right: 15px;
          }
        }
      }

      .secound-column,
      .third-column,
      .fourth-column {
        display: grid;
        display: block;
        margin-top: 80px;
        color: #ffffff;

        li:nth-child(1) {
          font-size: 16px;
          font-weight: 700;
          margin-bottom: 25px;
        }

        li {
          font-size: 14px;
          font-weight: 400;
          margin-bottom: 20px;
        }
      }

      .fith-column {
        padding: 0;
        margin-top: 65px;
        display: grid;
        list-style-type: none;
        height: 249px;
        width: 326px;

        li {
          margin: 0;
          p {
            display: flex;
            font-size: 16px;
            font-weight: 700;
            color: #ffffff;
          }

          p:nth-child(2) {
            display: flex;
            font-size: 14px;
            font-weight: 400;
            color: #ffffff;
            width: 302px;
          }
        }

        .form-small {
          border: none;
          border-bottom: 1px solid #4d69af;

          input {
            font-size: 14px;
            font-weight: 400;
            color: #a6b2d3;
            background-color: #171b2a;
            border: none;
          }

          i {
            font-size: 1.5rem;
            padding-left: 95px;
            color: #ff5a3c;
          }
        }
      }
    }
  }

  .last-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px calc(100vw - 88%) 40px calc(100vw - 79%);
    font-size: 18px;
    font-weight: 400;
    color: #a6b2d3;

    li {
      p {
        padding: 0;
        margin: 0;
      }
      border-bottom: 1px solid #4d69af;
    }

    li:last-child {
      padding: 8px;
      font-size: 12px;
      border: none;
    }
  }

  .ending {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 20px;
    background-color: #ff5a3c;
  }
}


@media (max-width: 1500px) {
  .begin-bar {
    display: block;
    text-align: center;
    .left-bar {
      display: inline-block;
    }

    .right-bar {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .tab-bar {
    display: block;
    text-align: center;
    .left-tab {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .right-tab {
      display: flex;
    }
  }
}

@media (max-width: 1200px) {
  .tab-bar {
    display: block;
    text-align: center;
    .left-tab {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .right-tab {
      display: inline-block;
    }
  }

  .subcribe-container {
    .location {
      ul {
        display: grid;
        padding: 0;
        li {
          margin-left: 0;
          margin-bottom: 30px;
        }
      }
    }

    .enter-mail {
      display: block;
      align-content: center;
      justify-items: center;
      padding: 0;
      margin: 0;
      height: 100px;
      button {
        display: block;
        padding: 0;
        margin: 0;
      }
    }
  }

  .blog-container {
    margin-top: 350px;
    .card-blog {
      ul {
        display: grid;
        padding: 0;
        li {
          margin: 15px 0;
          padding: 0;
        }
      }
    }
  }

  .form-container {
    margin-top: 950px;

    .title-form {
      margin: 0;
    }

    ul {
      display: block;
      justify-items: center;
      align-content: center;
      margin: 0;
      padding: 0;
      li {
        .form-left {
          display: grid;
          justify-items: center;
          align-content: center;
          margin: 0;

          .form-word-1 {
            width: 80%;
            text-align: center;
          }

          .form-block-1,
          .form-block-2,
          .form-block-3,
          .form-block-4 {
            display: none;
          }
        }
        .form-right {
          display: grid;
          max-width: 95vw;
          margin-top: 30px;
        }
      }
    }
  }

  .intro-container {
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;

    .left-intro-container {
      height: 100%;
      .intro-word {
        height: 100%;
        padding: 0;
        margin: 0;
        .intro-word-1 {
          padding: 0;
          margin: 0;
          display: block;
          width: 100%;
          margin-top: 100px;
        }
        .intro-word-2 {
          display: flex;
          width: 100%;
          padding: 0;
          margin: 0;
          margin-top: 150px;
        }
        .member-button {
          margin: 0;
          margin-top: 150px;
        }
      }

      .ranking {
        display: none;
      }

      .ranking-bar-1 {
        display: none;
      }

      .ranking-bar-2 {
        display: none;
      }

      .ranking-number {
        display: none;
      }

      .arrow {
        display: none;
      }
    }
  
    .bg-video-guide {
      display: none;
    }
  }

  .rental-container {

    
    .rental-title {
      margin: 0;
      width: 95%;

      p:nth-child(1) {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        width: 100%;
      }
  
      p:nth-child(2) {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        width: 100%;
      }
    }
  
    .rental-guide {
      ul {
        display: grid;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;

        li {
          margin: 0;
          padding: 0;
          margin-bottom: 30px;
   

    
          img {
   
          }
    
          p:nth-child(2) {

          }
  
          p:nth-child(3) {

          }
        }
    
        li:nth-child(1), li:nth-child(3) {
  
        }
    
        li:nth-child(2) {
          p:nth-child(2), p:nth-child(3) {
          }
        }
      }
    }
  }

  .setting-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px;
    padding-bottom: 0px;

    .setting-title-1, .setting-title-2 {
      text-align: center;
    }
    
    ul li:nth-child(1) {
      display: none;
    }
    
    .setting-content {
      li {  
        .setting-content-child {
          display: block;
          align-content: center;
          justify-items: center;
          margin: 0;
        }
      }  
    }
  }

  .sell-container {
    padding-top: 100px;
    height: 800px;

    ul li:nth-child(2) {
      display: none;
    }

    ul {
      li {
        display: grid;
        justify-items: center;
        align-content: center;

        .big-tittle {
          text-align: center;
        }

        .comment-title {
          text-align: center;
        }

        .sell-section-2 {
          display: none;
        }
      }
    }
  

  }

  .service-container {
    margin: 0;
    padding: 50px;
    height: 1500px;
    .grid-container-2 {
      grid-template-columns: repeat(2, 370px);
    }
  }

  footer {
    ul {
      flex-direction: column;
      align-items: center;
      padding: 0;
      margin: 0;

      li {
        margin: 0;
        margin-right: 0;
        width: 100%; 
        text-align: center;

        .secound-column,
        .third-column,
        .fourth-column {
          margin-top: 30px;
        }
  
        .fith-column {
          margin-top: 30px;
          padding: 0;
          display: grid;
          width: 100%;

   
          li {
            width: 100%;
            display: block;
            justify-items: center;
            align-content: center;
            text-align: center;
            p:nth-child(2) {
              width: 100%;
    
            }
          }
        }
      }
    }

  
    .last-info {
      flex-direction: column;
      text-align: center;
      padding: 20px 0;
    }
  } 
  
  footer {
    & ul {
        & li {
            & .fith-column {
                & li {
                    p {
                        margin-top: 0px !important;
                    }
                }
            }
        }
    }
  }
}

@media (max-width: 600px) {
  .begin-bar {
    display: block;
    text-align: center;
    .left-bar {
      display: inline-block;
    }

    .right-bar {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  .subcribe-container {
    .location {
      ul {
        display: grid;
        padding: 0;
        li {
          margin-left: 0;
          margin-bottom: 30px;
        }
      }
    }

    .enter-mail {
      display: block;
      align-content: center;
      justify-items: center;
      padding: 0;
      margin: 0;
      height: 100px;
      button {
        display: block;
        padding: 0;
        margin: 0;
      }
    }
  }

  .intro-container {
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;

    .left-intro-container {
      height: 100%;
      .intro-word {
        height: 100%;
        padding: 0;
        margin: 0;
        .intro-word-1 {
          padding: 0;
          margin: 0;
          display: block;
          width: 100%;
          margin-top: 50px;
        }
        .intro-word-2 {
          display: flex;
          width: 100%;
          padding: 0;
          margin: 0;
          margin-top: 390px;
        }
        .member-button {
          margin: 0;
          margin-top: 50px;
        }
      }

      .ranking {
        display: none;
      }

      .ranking-bar-1 {
        display: none;
      }

      .ranking-bar-2 {
        display: none;
      }

      .ranking-number {
        display: none;
      }

      .arrow {
        display: none;
      }
    }
  
    .bg-video-guide {
      display: none;
    }
  }

  .rental-container {
    .rental-title {
      margin: 0;
      width: 95%;

      p:nth-child(1) {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
        width: 100%;
        margin-top: 50px;
      }
  
      p:nth-child(2) {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
        margin-top: 50px;
        width: 100%;

      }
    }
  
    .rental-guide {
      margin-top: 120px;
      ul {
        display: grid;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;

        li {
          margin: 0;
          padding: 0;
          margin-bottom: 30px;
   

    
          img {
   
          }
    
          p:nth-child(2) {

          }
  
          p:nth-child(3) {

          }
        }
    
        li:nth-child(1), li:nth-child(3) {
  
        }
    
        li:nth-child(2) {
          p:nth-child(2), p:nth-child(3) {
          }
        }
      }
    }
  }

  .service-container {
    margin: 0;
    padding: 60px;
    height: 2850px;
    .grid-container-2 {
      grid-template-columns: 370px;
    }
  }
}

@media (max-width: 700px) {
  .service-container {
    margin: 0;
    padding: 50px;
    height: 3000px;
    .grid-container-2 {
      grid-template-columns: 370px;
    }
  }
}